<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unisa.guardianhouse" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unisa.guardianhouse.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unisa.guardianhouse.MainActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unisa.guardianhouse.HomeActivity" />
        </activity>
        <activity
            android:name=".GetUsersActivity"
            android:label="@string/title_activity_get_users"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unisa.guardianhouse.HomeActivity" />
        </activity>
        <activity
            android:name=".VisualizeReviewActivity"
            android:label="@string/title_activity_recensione" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unisa.guardianhouse.HomeActivity" />
        </activity>
        <activity
            android:name=".ApartmentActivity"
            android:label="@string/title_activity_apartment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unisa.guardianhouse.HomeActivity" />
        </activity>
        <activity
            android:name=".PreSearchAppActivity"
            android:label="Ricerca appartamento" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unisa.guardianhouse.HomeActivity" />
        </activity>
        <activity
            android:name=".NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/MyNavigationDrawerTheme">
        </activity>
    </application>

</manifest>
